html, body {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 24px;
}

/*
@font-face {
    font-family: 'qalammajeed';
    src: url(/font/qalammajeed.ttf);
}
*/

@font-face {
    font-family: 'qalammajeed';
    src: url(/font/qalammajeed.ttf);
}

.arabic {
    line-height: 2em;
    font-family: qalammajeed;
    font-size: 48px;
}

.page {
    position: relative;
    /*border: 1px solid black;*/
    width: 1000px;
    height: 1350px;
    margin: 0 auto;
    padding: 32px;
}

table, tr, td, th, tbody, thead, tfoot {
	page-break-inside: avoid !important;
}

table {
    text-align: right;
    width: 100%;
    line-height: 2em;
    font-family: qalammajeed;
    font-size: 48px;
}
table td {
    padding-right: 16px;
}

