body {
  font-family: monospace;
}

.item, .comments {
  padding: 0px 16px;
}

.posts .header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 576px)   {
  body {
    font-size: 16px;
  }
  .item, .comments {
    width: 512px;
    margin: 0 auto;
  }
}
@media (min-width: 768px)   {}
@media (min-width: 992px)   {}
@media (min-width: 1200px)  {}
