.header, .codeWrapper
, .item, .comments, .links
, .footer
{
  padding: 0px 4px;
}

.codeWrapper .header {
  padding: 0;
}
.codeWrapper pre {
  font-size: 10px;
  margin: 0;
}
.codeWrapper .editor {
  border: 1px solid grey;
  height: 128px;
  overflow: auto;
  background: #333;
}

@include ('index.style.pygments.dark')

.posts .header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

@media (min-width: 576px)   {
  body {
    font-size: 14px;
  }
  .header, .quote, .codeWrapper
  , .item, .comments, .links
  , .footer
  {
    width: 512px;
    margin: 0 auto;
  }
  .codeWrapper pre {
    font-size: 12px;
  }
}

@media (min-width: 768px)   {}
@media (min-width: 992px)   {}
@media (min-width: 1200px)  {}

@media (max-width: 767px)   {
  blockquote {
    margin: 0px 8px;
  }
}
